/* GameModeSelector.css */

#res {

    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    direction: ltr;
    background-color:lightskyblue;
    padding: 17%;
    border-radius: 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 0%;
    overflow: auto;
    width: 50%;
}

#res1 {
    position: inherit;
    left: 50%;
}
h2 {
    margin-bottom: 20px;
}

button {
    margin: 0 70px;
    padding: 20px 30px;
    font-size: 50px;
    background-color: antiquewhite;
    border-radius: 0.3rem;
}

p {
    margin-top: 20px;
}
