/* GameModeSelector.css */

body {
    margin: 0;
    padding: 0;
    background-image: url('erü2.jpg'); /* Logo resminin yolunu doğru şekilde belirtin */
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
}

#res {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Diğer stiller buraya eklenebilir */

button {
    margin: 0 70px;
    padding: 10px 20px;
    font-size: 50px;
    background-color: antiquewhite;
    border-radius: 0.3rem;
}

p {
    margin-top: 20px;
}
